---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    <span class="text-primary">Recycling AI</span>.<br/>{" "}
    mAP50: <span class="text-primary">99.2%</span><br/>{" "}
    mAP50-95: <span class="text-primary">93%</span><br/>{" "}
    Detection in progress.
  </Fragment>
  <div class="max-w-6xl space-y-2">
  </div>
</ContentSection>
